@font-face {
    font-family: 'Futura PT';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/FuturaPT-Book.woff), 
         url(../fonts/FuturaPT-Book.woff2);
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/FuturaPT-Medium.woff), 
         url(../fonts/FuturaPT-Medium.woff2);
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/FuturaPT-Bold.woff), 
         url(../fonts/FuturaPT-Bold.woff2);
}

body{
    font-family: 'Futura PT', sans-serif;
    font-weight: 500;
    font-style: normal;
}